/* links */

.ul{
	color:#FFD1D1;
	font-size: 20px;
	margin-left: 900px;
}

a{
	color:black;
	font-family: 'Megrim', cursive;
	font-size: 20px;
	list-style-type: none;
	text-decoration: none;
}

.li{
	color:#FFD1D1;
	font-family: 'Megrim', cursive;
	font-size: 20px;
	list-style-type: none;
	text-decoration: none;
	display: inline-block;
    text-align: center;
  	margin:10px;
}

/* home */
#home{
	
}

header{
	margin-top: 0px;
	padding: 15px 0px 25px 0px;
	background-image: url('../brick.png');
}

.div{
	height:100px;
	margin:100px 20px 20px 20px;
}

.text{
	font-family: 'Mr Dafoe', cursive;
	color:#FFD1D1;
	font-size: 40px;
	text-align: center;
}

#cursive{
	font-family: 'Pinyon Script', cursive;
	font: 20px;
	color:black;
	text-align: center;
	margin-right: 15px;
}

.bar{
	background-color:#D1CCCC;
	height:2px;
	width:580px;
	margin-top: 10px;
	margin-left: 400px; 
	
}

/* links on home page   */

@import "compass/css3";

/* Google Web Fonts
===================================*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);
/* Social Button Colours 
===================================*/
$instagram: #ea4c89;
$twitter: #00aced;
$facebook: #3b5998;
$google-plus: #f63e28;
$forrst: #31723e;
$pinterest: #cb2027;

/* Generic Container
===================================*/
.btn-container {
  margin: 0px auto;
  padding-left: 0px;
}
/* Social Button Style 
===================================*/
.social-btn {
  color: #444;
  background: white;
  text-align: center;
  padding: 30px 10px 10px 10px;
  margin-left: 200px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 3px 0 #ddd;
  transition: color 0.4s ease-in-out ,box-shadow 0.4s ease-in-out;
}
/* Social Button Hover Styles 
===================================*/
.instagram  {
  &:hover {

    color: $dribbble;
    box-shadow: 0 3px 0 $dribbble;
  }
}
.twitter {
  &:hover {
    color: $twitter;
    box-shadow: 0 3px 0 $twitter;
  }
}
.facebook {
  &:hover {
    color: $facebook;
    box-shadow: 0 3px 0 $facebook;
  }
}
.google-plus {
  &:hover {
    color: $google-plus;
    box-shadow: 0 3px 0 $google-plus;
  }
}

/* about page */
.div2{ 
	height:100px;
	margin:70px 20px 20px 20px;
}

.cursivee{
	font: 20px;
	margin-top: 20px;
	margin-left: 350px;
	font-family: 'Megrim', cursive;
	color:#56564C;
}

.blogster{
	height: 100px;
	width:200px;
	margin-right: 10px;
	float: left;
	color:#56564C;

}

.blogtext{
	height:100px;
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
	
	/*font-family: 'Source Code Pro', ; */
	color:#56564C;

}

.bar2{
	background-color:#D1CCCC;
	height:2px;
	width:580px;
	margin-top: 20px;
	margin-left: 400px; 
	
}

.porfoliotext{
	height:100px;
	margin-top: 40px; 
	margin-left: 10px;
	font-family: 'Source Code Pro', ;
	color:#56564C;

}


/*  contact page */

.picture{
	margin-left: 20px;
	margin: 0px 0px 0px 70px;
	float:left;
}

.infobox{
	margin: 70px 10px 0px 50px;
	display: inline-block;
}

.barz{
	height:2px;
	width:700px;
	background-color:#D1CCCC;
	margin-left: 100px; 
	display: inline;
	font-size:1px;
}
.barzz{
	height:1px;
	width:700px;
	background-color:#D1CCCC;
	margin-left: 100px; 
	display: inline;
	font-size:1px;
}

.barzzz{
	height:1px;
	width:700px;
	background-color:#D1CCCC;
	margin-left: 100px; 
	display: inline;
	font-size:1px;
}
.info{
	padding-left: 75px;
	margin-bottom: 0px;
	margin-left: 70px;
	font-family: 'Lobster Two', cursive;
	color:#56564C;
}

.info2{
	padding-left: 60px;
	margin-left: 70px;
	font-family: 'Lobster Two', cursive;
	color:#56564C;
}


.push{
	color:white;
	display: inline-block;
	margin-bottom: 0px;
}